{% extends "base.html" %}

{% block title %}
  Публикации в категории {{ category }}
{% endblock %}
    
{% block content %}
  <h1>Публикации в категории {{ category }}</h1>  
  {% for post in posts %}
    <ul>
      <li>{{post.location}}</li>
      <li>{{post.date}}</li>
      <li> 
        <a href="{% url 'blog:category' post.category %}"> {{post.category}} </a>
      </li>
    </ul>
      <p>{{post.text|truncatewords:10}}</p>
      <a href = "{% url 'blog:detail' post.id %}">Подробнее</a>
    {% if not forloop.last %}
      <hr>
    {% endif %}
  {% endfor %} 
{% endblock %}    
  

